<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>angular</title>
</head>

<body ng-app="notesApp">
    <div ng-controller="mainCtrl as ctrl">
        <form ng-submit="ctrl.submit()" name="myForm">
            <input type="text" name="username" ng-model="ctrl.user.username" ng-pattern='/^\d+$/' required/><span ng-show="myForm.username.$error.required">not null</span>
            <input type="password" ng-model="ctrl.user.password" required/>
            <input type="reset" value="reset" ng-disabled="myForm.$pristine"/>
            <input type="submit" value="Submit" ng-disabled="myForm.$invalid" />
        </form>
    </div>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>
